body {
  border: 10px solid red;
  color: white;
  background-color: royalblue;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1rem;
  line-height: 1.5rem;
  font-size: .8675rem;
  overflow: auto;
  font-family: 'IBM Plex Mono', monospace;
}
